<!--<div class=" container-fluid   container-fixed-lg123 footer">
  <div class="copyright sm-text-center">
    <p class="small no-margin pull-left sm-pull-reset">
      <span class="hint-text">Copyright &#169; <span id="currentYearcopyright">{{copyrightYear}}</span> &nbsp;</span>
      <span class="font-montserrat"><a href="https://www.tutterflycrm.com" target="_blank">Tutterfly CRM</a></span> |&nbsp;
      <span class="hint-text">All rights reserved. </span>
      <span class="sm-block"><a href="https://www.tutterflycrm.com/terms-and-conditions/" target="_blank" class="m-l-10 m-r-10">Terms of use</a> <span class="muted">|</span> <a href="https://www.tutterflycrm.com/privacy-policy/" class="m-l-10" target="_blank">Privacy Policy</a></span>
    </p>

    <div class="clearfix"></div>
  </div>
</div>-->

<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                Copyright &copy;
                <script>document.write(new Date().getFullYear())</script>
                <a href="https://www.tutterflycrm.com/" target="_blank">TutterflyCRM</a> | All Rights Reserved.
            </div>
            <div class="col-md-6">
                <div class="text-md-right footer-links d-none d-sm-block">
                    <a href="https://www.tutterflycrm.com/terms-of-use/" target="_blank">Terms of use</a>
                    <a href="https://www.tutterflycrm.com/privacy-policy/" target="_blank">Privacy Policy</a>
                </div>
            </div>
        </div>
    </div>
</footer>
