<div class=" no-padding container-fixed-lg bg-white CRMTable">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="page-title-box">
          <div class="page-title-right">
            <form class="form-inline">
            </form>
          </div>
          <h4 class="page-title">Task-Details </h4>
        </div>
      </div>
    </div>
    <!-- START card -->
    <div class="card card-transparent123">
      <div class="card-header card-white-head">
        <div class="card-title m-0 w-100">
          <div class="row">
            <div class="col-md-6">
              <div class="select-DataView">
                <div class="d-flex icon-module float-left mr-1">
                  <!-- <img src="assets/new_assets/images/account-icon.png" alt="" width="" class="img-fluid"> -->
                  <div class="timeline-icon bg-primary rounded-circle">
                    <i
                        class="mdi mdi-clipboard-check-outline float-left m-0 h3 p-2 align-middle text-white"></i>
                </div>
                </div>
                <div class="select-DataViewml-2">
                  <div class="form-group m-0">
                    <label class="m-0 text-primary">
                      <small>Task <span>{{clientDetails.name  | titlecase}}</span></small>
                    </label>
                    <div class="text-value"
                      *ngIf="clientDetails.contact_id!=null && clientDetails.contact_id!=undefined">
                      {{clientDetails.contact_id.name}}</div>
                    <div class="text-label">Related To</div>
                    <div class="text-value">{{clientDetails.taskable_id.name}}</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="btn-group pull-right">
                <button type="button" class="btn btn-primary waves-effect waves-light" (click)="openFollowPop()">Create
                  Follow-Up Task</button>
                <button type="button" class="btn btn-info waves-effect waves-light ml-1"
                  (click)="openEditPop()">Edit</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
       <!--  <ul class="nav-tabs nav-tabs-simple" role="tablist" data-init-reponsive-tabs="dropdownfx">
          <li class="nav-item">
            <a class="active" href="#" data-toggle="tab" role="tab" data-target="#DetailsCont">Details</a>
          </li> 
        </ul>-->
        <div class="tab-pane " id="DetailsCont">
          <div class="row" *ngIf="clientDetails!=undefined && clientDetails!=null">
            <div class="col-lg-12">
              <div class="accordion" id="accordionExample1">
                <div class="card">
                  <div class="card-header p-0" id="headingOne">
                    <h5 class="mb-0">
                      <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                        data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <i class="fas fa-info-circle mainIcon"></i><i class="fas fa-angle-double-right mr-3"></i>Task
                        Information
                      </button>
                    </h5>
                  </div>
                  <div id="collapseOne" class="collapse show" role="tabcard" aria-labelledby="headingOne">
                    <div class="card-block">
                      <div class="card card-transparent">
                        <div class="card-block">
                          <form id="form-project" role="form" autocomplete="off" novalidate>
                            <div class="">
                              <div class="row clearfix">
                                <div class="col-md-6">
                                  <div class="form-group required">
                                    <label>Subject</label>
                                    <div class="formReadonly form-control">{{clientDetails.name}}</div>
                                  </div>
                                </div>
                                <div class="col-md-6">
                                  <div class="form-group ">
                                    <label>Assigned To</label>
                                    <a href="javascript:void(0);"
                                      class="formReadonly form-control">{{  getUserName(clientDetails.assigned_user_id)}}</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                              <div class="row clearfix">
                                <div class="col-md-6">
                                  <div class="form-group required">
                                    <label>Comments</label>
                                    <p class="formReadonly form-control1">{{clientDetails.description}}
                                    </p>
                                  </div>
                                </div>
                                <div class="col-md-6">
                                  <div class="form-group ">
                                    <label>Status</label>
                                    <a href="javascript:void(0);"
                                      class="formReadonly form-control">{{clientDetails.status}}</a>
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-md-6">
                                  <div class="form-group required">
                                    <label>Due Date</label>
                                    <div class="formReadonly form-control">{{clientDetails.due_date  | date: 'dd MMM yyyy | hh:mm a'}}
                                    </div> 
                                  </div>
                                </div>
                                <div class="col-md-6">
                                  <div class="form-group  required">
                                    <label>Priority</label>
                                    <div class="formReadonly form-control">{{clientDetails.priority}}
                                    </div>
                                  </div>
                                </div>
                              </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header p-0" id="headingTwo">
                    <h5 class="mb-0">
                      <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                        data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                        <i class="fas fa-info-circle mainIcon"></i><i class="fas fa-angle-double-right mr-3"></i> Related To
                      </button>
                    </h5>
                  </div>
                  <div id="collapseTwo" class="collapse show" role="tabcard" aria-labelledby="headingTwo">
                    <div class="card-block">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group required">
                            <label>Name</label>
                            <div class="formReadonly form-control">
                              <span style="margin-left:5px;" class="pull-left"
                                *ngIf="clientDetails.contact_id!=null && clientDetails.contact_id!=undefined">{{clientDetails.contact_id.name}}</span>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group required">
                            <label>Related To </label>
                            <div class="formReadonly form-control">
                              <!-- <a class="pull-left">{{clientDetails.taskable_id.name}}</a> -->
                              <a *ngIf="clientDetails.taskable_type=='App\\Opportunity'" [routerLink]="['/maindashboard',{ outlets: { bodySection: ['oppoDetails'] }}]" [queryParams]="{ 'id': clientDetails.taskable_id.id}">
                              {{clientDetails.taskable_id.name}}</a>
                              <a *ngIf="clientDetails.taskable_type=='App\\Account'" [routerLink]="['/maindashboard',{ outlets: { bodySection: ['clientDetails'] }}]" [queryParams]="{ 'id': clientDetails.taskable_id.id}">
                              {{clientDetails.taskable_id.name}}</a>
                              <a *ngIf="clientDetails.taskable_type=='App\\Contact'" [routerLink]="['/maindashboard',{ outlets: { bodySection: ['contactDetails'] }}]" [queryParams]="{ 'id': clientDetails.taskable_id.id}">
                              {{clientDetails.taskable_id.name}}</a>
                              <a *ngIf="clientDetails.taskable_type=='App\\Lead'" [routerLink]="['/maindashboard',{ outlets: { bodySection: ['leaderDetails'] }}]" [queryParams]="{ 'id': clientDetails.taskable_id.id}">
                              {{clientDetails.taskable_id.name}}</a>
                              <a *ngIf="clientDetails.taskable_type=='App\\PersonalAccount'" [routerLink]="['/maindashboard',{ outlets: { bodySection: ['personelDetails'] }}]" [queryParams]="{ 'id': clientDetails.taskable_id.id}">
                              {{clientDetails.taskable_id.name}}</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header p-0" id="headingThree">
                    <h5 class="mb-0">
                      <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                        data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                        <i class="fas fa-info-circle mainIcon"></i><i class="fas fa-angle-double-right mr-3"></i>System information
                      </button>
                    </h5>
                  </div>
                  <div id="collapseThree" class="collapse show" role="tabcard" aria-labelledby="headingThree">
                    <div class="card-block">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group required">
                            <label>Created by</label>
                            <div class="formReadonly form-control">
                              <a class="pull-left">{{getUserName(clientDetails.created_by)}} ,</a>
                              <span style="margin-left:5px;" class="pull-left">{{clientDetails.created_at | date: 'dd MMM yyyy | hh:mm a'}}</span>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group required">
                            <label>Last Modified By </label>
                            <div class="formReadonly form-control">
                              <a class="pull-left">{{getUserName(clientDetails.last_modified_by_id)}}
                                ,</a>
                              <span style="margin-left:5px;" class="pull-left">{{clientDetails.updated_at | date: 'dd MMM yyyy | hh:mm a'}}</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>