<div class="row">
  <div class="col-12">
    <div class="page-title-box">
      <h4 class="page-title">Supplier Email Template</h4>
    </div>
  </div>
</div>
<div class=" no-padding container-fixed-lg bg-white CRMTable"  *ngIf="!showForm">
  <div class="container-fluid p0">
    <div class="card">
      <div class="card-header">
        <div class="card-title col-md-9">
          <div class="MainHeadCont">
            <div class="MainHead">
              <h5>Email Template</h5>
            </div>
          </div>
        </div>
        <div class="col-md-3 pull-left">
          <button type="button" class="btn btn-primary newBtn pull-right" (click)="showAddForm()">
            <span class="pull-left"><i class="pg-plus"></i></span>
            <span>New Design</span>
          </button>
 
        </div>
      </div>
      <div class="card-body" *ngIf="displayTable">
        <div *ngIf="success_msg!=''" class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>{{success_msg}}!</strong>  
            <button type="button" (click)="remove_success_msg()" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="table-responsive">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Sr. No.</th>
                <th>Name</th>
                <th>Subject</th> 
                <th>Created At</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let element of emailTemplate;let i = index;">
                <td>{{i+1}}</td>
                <td>{{element.name}}</td>
                <td>{{element.subject}}</td> 
                <td>{{element.created_at  | date: 'dd MMM yyyy'}}</td>
                <td style="cursor:pointer;">
                  <span style="margin-right:10px;"  (click)="editForm(element)"><i aria-hidden="true" class="fas fa-edit"></i></span>
                  <span><i aria-hidden="true" (click)="deleteEmailTemp(element.id)"
                      class="fas fa-trash text-danger"></i></span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container1"  *ngIf="showForm"> 
  <div class="card">
    <div class="card-header">
      <h4 class="card-title1" *ngIf="editable_id==0">Add Template</h4>
      <h4 class="card-title1" *ngIf="editable_id>0">Update Template</h4>
      <button (click)="saveDesign();" class="btn btn-primary mb-2  float-right" id="temp_save" *ngIf="editable_id==0">Save Design</button> 
      <button (click)="saveDesign();"  *ngIf="editable_id>0" class="btn btn-primary mb-2  float-right" id="temp_save">Update Design</button> 
      <button (click)="fetchAllData();"   class="btn btn-danger mb-2 ml-1  float-left"  >Close</button> 
    </div>
    <div class="card-body">

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Name</label>
              <input type="text" class="form-control" [(ngModel)]="template_name">
            </div>
          </div> 
          <div class="col-md-6">
            <div class="form-group">
              <label>Subject</label>
              <input type="text" class="form-control" [(ngModel)]="template_subject">
            </div>
          </div>
        </div>
        <email-editor *ngIf="editable_id==0"></email-editor>
        <email-editor *ngIf="editable_id>0" (loaded)="editorLoaded($event)"></email-editor>

    </div>
</div>
</div>
<style type="text/css">
  iframe{
    width: 100% !important;
  }
</style>