<div class="row mt20 d-flex">
    <div class="col-md-8 m-auto">
        <div class="row">
            <div class="col-md-12 ">
                <div class="page-title-box d-flex justify-content-between">
                    <h4 class="page-title">Billing Estimate</h4>
                    <div class="">
                        <a href="javascript:void(0);" class="btn btn-primary" [routerLink]="['/adminMain',{ outlets: { adminSection: ['billings'] }}]"><i class="fas fa-arrow-left"></i> Back</a>
                    </div>
                </div>
                <div class="card-box">
                    <div class="estimatedBody">
                        <p><span class="fromDate">Aug 28, 2021</span> – <span class="toDate">Sep 28, 2021</span></p>
                        <div class="subscriptionbyUser d-flex justify-content-between align-items-between pt-1 pb-1">
                            <h5>Wat-Cons
                                <small class="">Business Class (Quaterly) <a href="javascript:void(0);">change</a></small>
                                <small class="d-block">10 User <a href="javascript:void(0);">manage</a></small>
                            </h5>
                            <div class="subscriptionbyUseramout">
                                <span><i class="fas fa-rupee"></i> 1200</span>
                            </div>
                        </div>
                        <div class="subscriptionbyUser d-flex justify-content-between align-items-between pt-1 pb-1">
                            <h5>Wat-Cons
                                <small class="">Business Class (Quaterly) <a href="javascript:void(0);">change</a></small>
                                <small class="d-block">10 User <a href="javascript:void(0);">manage</a></small>
                            </h5>
                            <div class="subscriptionbyUseramout">
                                <span><i class="fas fa-rupee"></i> 1200</span>
                            </div>
                        </div>
                        <hr>
                        <div class="subscriptionbyUser d-flex justify-content-between align-items-between">
                            <h5>Total</h5>
                            <div class="subscriptionbyUseramout">
                                <span><i class="fas fa-rupee"></i> 2400</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
