#modalAdd {
    text-align: left;
    display: block;
}

/*#modalAdd .modal-dialog{    margin-top: 12%;}*/
#modalAdd.modelOpenNew .modal-dialog{    /*margin-top: 15% !important;*/}
#modalAdd .modal-header{
	/*padding: 5px 5px 0 25px; */
}

#modalAdd{
	z-index: 1000 !important; 
}
#modalListMail{
	text-align: left;
}
.error {
	font-size: 12px;
	color: #f94816;
	display: block;
  }

  