<div class="container-fluid">
    <div class="row" >
        <div class="col-md-12 col-sm-12">
            <div class="card">
                <div class="card-block">
                    <div class="clearfix"></div>
                    <div id="MergeListShow" class="">
                        <div class="MergeTableHeader">
                            <h4>Account of Shomik
                                <small class="float-right">Total Account ()</small>
                            </h4>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped table-hover text-left">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Name1</th>
                                        <th>Name2</th>
                                    </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        <strong>Master Record</strong>
                                    </td>
                                    <td>
                                        <label class="RadioContainer">
                                            <input type="radio" name="masterrecord" checked>
                                            <label class="form-check-label">
                                                Default radio
                                            </label>
                                            <span class="checkmark"></span>
                                        </label>
                                    </td>
                                    <td>
                                        <label class="RadioContainer">
                                            <input type="radio" name="masterrecord">
                                            <label class="form-check-label">
                                                Default radio
                                            </label>
                                            <span class="checkmark"></span>
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Account Name</strong>
                                    </td>
                                    <td>
                                        <label class="RadioContainer">
                                            <input type="radio" name="accountname" checked>
                                            <span class="checkmark"></span>
                                        </label>
                                    </td>
                                    <td>
                                        <label class="RadioContainer">
                                            <input type="radio" name="accountname">
                                            <span class="checkmark"></span>
                                        </label>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <button class="btn btn-outline-primary float-right mt20"
                            [routerLink]="['/maindashboard',{ outlets: { bodySection: ['userMergeList'] }}]">Merge
                    </button>
                </div>
            </div>
        </div>
    </div>




</div>

