

  .itinerary_inclusions_check {
        margin-bottom: 10px
    }

    .itinerary_inclusions_check input[type="radio"][_ngcontent-c16], .itinerary_inclusions_check input[type="checkbox"][_ngcontent-c16] {
        top: 4px;
    }

    .itinerary_inclusions_check .form-check label {
        display: inline-block;
        padding-left: 6px;
    }

    .itinerary_inclusions_check .form-check {
        margin-bottom: 0;
        float: left;
        top: 4px;
    }

     .fix-height-pnl {
        min-height: 700px;
    }

    .poi_fix_div {
        /* max-height: 600px;
         overflow: scroll;*/
    }

    .select2-dropdown {
        z-index: 10000 !important;
    }

    .newCreateitinerarymodal {
        width: 100%;
        height: 100%;
        background: #fff;
        z-index: 1001;
        position: fixed;
        top: 0;
        left: 0;
        overflow-y: auto;
    }

    .closebtn-newCreateitinerarymodal {
        position: fixed;
        right: 20px;
        top: 10px;
        background: transparent;
        border: 0;
        color: #ff0000;
        opacity: .5;
        font-size: 20px;

    }

    .newCreateitinerarymodal-wrapper {
        /*position: relative;
        top: calc(100vh - 95vh);*/
    }

    .inputtextdisblelabel {
        background: transparent;
        border: transparent;
        cursor: text;
    }

    @media (min-width: 992px) {
        .newCreateitinerarymodal-container.container .newCreateitinerarymodal-wrapper {
            /*width: 85%;*/
            margin: auto
        }
    }

    #itinerarydatepiker.ite_date_picker .mat-datepicker-toggle {
        top: 16px
    }

    .file-upload {
        display: block;
        text-align: center;
        font-family: Helvetica, Arial, sans-serif;
        font-size: 12px;
    }

    .file-upload .file-select {
        display: block;
        border: 2px solid #dce4ec;
        color: #34495e;
        cursor: pointer;
        height: 40px;
        line-height: 40px;
        text-align: left;
        background: #ffffff;
        overflow: hidden;
        position: relative;
    }

    .file-upload .file-select .file-select-button {
        background: #dce4ec;
        padding: 0 10px;
        display: inline-block;
        height: 40px;
        line-height: 40px;
    }

    .file-upload .file-select .file-select-name {
        line-height: 40px;
        display: inline-block;
        padding: 0 10px;
    }

    .file-upload .file-select:hover {
        border-color: #34495e;
        transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -webkit-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
    }

    .file-upload .file-select:hover .file-select-button {
        background: #34495e;
        color: #ffffff;
        transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -webkit-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
    }

    .file-upload.active .file-select {
        border-color: #3fa46a;
        transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -webkit-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
    }

    .file-upload.active .file-select .file-select-button {
        background: #3fa46a;
        color: #ffffff;
        transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -webkit-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
    }

    .file-upload .file-select input[type="file"] {
        z-index: 100;
        cursor: pointer;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        opacity: 0;
        filter: alpha(opacity=0);
    }

    .file-upload .file-select.file-select-disabled {
        opacity: 0.65;
    }

    .file-upload .file-select.file-select-disabled:hover {
        cursor: default;
        display: block;
        border: 2px solid #dce4ec;
        color: #34495e;
        cursor: pointer;
        height: 40px;
        line-height: 40px;
        margin-top: 5px;
        text-align: left;
        background: #ffffff;
        overflow: hidden;
        position: relative;
    }

    .file-upload .file-select.file-select-disabled:hover .file-select-button {
        background: #dce4ec;
        color: #666666;
        padding: 0 10px;
        display: inline-block;
        height: 40px;
        line-height: 40px;
    }

    .file-upload .file-select.file-select-disabled:hover .file-select-name {
        line-height: 40px;
        display: inline-block;
        padding: 0 10px;
    }

    .itinerary-daywise-list-item {
        margin: 0;
        padding: 5px;
        background: #f5f5f5;
        margin-bottom: 10px;
    }

    .itinerary-daywise-list-item a {
        color: #333;
    }

    .itinerary-daywise-list-item-img a {
        border: 1px solid #ccc;
        border-radius: 5px;
        max-width: 180px;
        overflow: hidden
    }

    .itinerary-daywise-list-item-img a img {
        width: 100%;
        height: 100%;
    }

    /* remove the original arrow */
    select.input-lg {
        -webkit-appearance: none;
        -moz-appearance: none;
        -o-appearance: none;
        /* no standardized syntax available, no ie-friendly solution available */
    }

    select.input-lg + i.fa {
        float: right;
        margin-top: -33px;
        font-size: 22px;
        margin-right: 5px;
        pointer-events: none;
        background-color: #fff;
        padding-right: 5px;
    }

    select.input-lg:not([size]):not([multiple]) {
        height: auto;
    }

    div.gallery_poi {
        margin: 5px;
        border: 1px solid #ccc;
        float: left;
        width: 180px;
    }

    div.gallery_poi:hover {
        border: 1px solid #777;
    }

    div.gallery_poi img {
        width: 100%;
        height: auto;
    }

    div.desc {
        padding: 15px;
        text-align: center;
    }

    .newviewitinerarymodal {
        width: 100%;
        height: 100%;
        background: #fff;
        z-index: 10000;
        position: fixed;
        top: 0;
        left: 0;
        overflow-y: auto;
    }

    .newCreateitinerarymodal-wrapper {
        width: 100%;
        border: 1px solid #ccc;
        padding: 10px;
        box-shadow: 1px 0.5px 9px 0px rgba(161, 161, 161, 0.3686274509);
    }

